body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
}

.container {
    text-align: center;
    background-color: #3e8f70;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container h1 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.password-box {
    position: relative;
    margin-bottom: 20px;
}

.password-box input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
    color: gray;
}

.password-box .copy-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.generate-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0a261f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.generate-btn:hover {
    background-color: #444;
}